
h1 {
    text-align: center;
    margin: auto;
}

#searchForm {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    margin: auto;
    width: 220px;
}

#searchForm input {
    margin-bottom: 1rem;
}

#results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin: 1em;
}

hr {
    margin-top: 1rem;
    border: 10px solid orange;
}

.identification {
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    padding: auto;
}

.identification img {
    margin: auto;
    border: 3px solid black;
}